extends layout

block content
    div(class='container')
        br
        div(class='text-center')
            img(class='logoImg img-fluid' src='/img/logo.jpg')
      
        div(class='divider')
        br
        h2(class='text-center')
            span(class='label label-default') How much will YOU pay for healthcare?
        br
        blockquote(class='blockquote-reverse')
            p(class='mb-0 text-muted') In a medical system notorious for opaque finances and inflated bills, nothing is more convoluted than hospital pricing.
            small by 
                cite New York Times 

        br
        p(class='lead well')
            span We’ve built a web app that helps patients to compare the costs of medical procedures at hospitals in their region. By making hidden healthcare costs more transparent, we're empowering citizens to take a stand on their health and wallet.
        br
        div(class='text-center')
            a(class='btn btn-primary btn-block btn-lg' href="/main") ENTER
        br
            
        
